<!-- choco install packages.config -->

<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Essential Tools -->
  <package id="git" />
  <package id="vscode" />
  <package id="vim" />

  <!-- DevOps Tools -->
  <package id="awscli" />
  <package id="kubernetes-cli" />
  <package id="kubernetes-helm" />
  <package id="terraform" />
  <package id="docker-desktop" />
  <package id="make" />
  <package id="eksctl" />

  <!-- Development Tools -->
  <package id="python" version="3.11.9" />
  <package id="nodejs" />

  <!-- Browsers -->
  <package id="googlechrome" />

  <!-- Utilities -->
  <package id="7zip" />
</packages>
